
/* Modal Body */
.modal-body {
  padding: 2px 16px;
}
.container {
  font-family: Copperplate;
  font-size:20px;
}


.closeGame {
  align-items: left;
}

iframe{
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform:scale(0.8);
  -ms-transform:scale(0.8);
  width: 100%;
}


table.table tbody,
table.table thead {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  display: block;
}


table.table tbody {
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#myModal {
  max-height: 95vh;
  overflow: scroll;
}


/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
